<script setup lang="ts">
import { ref } from 'vue'

const form = ref(false)
const email = ref(null)

const required = (v: any) => {
  return !!v || 'กรุณาใส่ข้อมูลของท่าน'
}
</script>

<template>
  <div class="container-bg">
    <v-container>
      <v-card
        v-model="card"
        class="mx-auto px-6 py-8"
        max-width="800"
        style="justify-content: center; align-items: center"
      >
        <div class="text-h4 bold-text text-center">ค่าเดาการความน่าจะเป็นที่ผนักงานจะทำงานต่อ</div>
        <br />
        <v-form v-model="form">
          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="Education"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="JoiningYear"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="City"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="PaymentTier"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="Age"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="Gender"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="EverBenched"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="ExperienceInCurrentDomain"
            clearable
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="[required]"
            class="mb-2"
            label="LeaveOrNot"
            clearable
          ></v-text-field>

          <br />

          <v-btn
            :disabled="!form"
            color="success"
            size="50px"
            style="font-size: 25px; font-style: tahoma"
            type="submit"
            variant="elevated"
            block
          >
            ประมวลข้อมูล
          </v-btn>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<style scoped>
.container-bg {
  background-color: #1b1b1b;
  color: white;
  height: 115vh; /* ความสูงของพื้นหลังเท่ากับความสูงของหน้าจอ */
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวดิ่ง */
  width: 100%;
}

.bold-text {
  font-weight: bold;
}
</style>
