<script setup lang="ts">
import { ref } from 'vue'
</script>

<template>
  <v-sheet class="bg-deep-purple pa-12" rounded>
    <v-card class="mx-auto px-6 py-8" max-width="344">
      <v-form>
        <v-text-field class="mb-2" label="Email" clearable></v-text-field>

        <v-text-field label="Password" placeholder="Enter your password" clearable></v-text-field>

        <br />

        <v-btn color="success" size="large" type="submit" variant="elevated" block> Sign In </v-btn>
      </v-form>
    </v-card>
  </v-sheet>
</template>
