<script setup lang="ts">
import { ref } from 'vue'

const email = ref(null)
const form = ref(false)

const required = (v: any) => {
  return !!v || 'กรุณาใส่ข้อมูลของท่าน'
}

const Dialog = ref(false)

// ประกาศฟังก์ชันเพื่อปิด Dialog
const ShowData = () => {
  Dialog.value = true
}
</script>

<template>
  <div class="container-bg">
    <v-container>
      <v-card
        class="mx-auto px-6 py-8"
        max-width="800"
        style="justify-content: center; align-items: center"
      >
        <div class="text-h4 bold-text text-center">ค่าเดาการความน่าจะเป็นที่พนักงานจะทำงานต่อ</div>
        <br />
        <br />
        <v-form v-model="form">
          <v-row>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="Education"
                clearable
              ></v-text-field
            ></v-col>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="JoiningYear"
                clearable
              ></v-text-field
            ></v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="City"
                clearable
              ></v-text-field
            ></v-col>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="PaymentTier"
                clearable
              ></v-text-field
            ></v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="Age"
                clearable
              ></v-text-field
            ></v-col>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="Gender"
                clearable
              ></v-text-field
            ></v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="EverBenched"
                clearable
              ></v-text-field
            ></v-col>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="ExperienceInCurrentDomain"
                clearable
              ></v-text-field
            ></v-col>
          </v-row>
          <row>
            <v-col>
              <v-text-field
                v-model="email"
                :rules="[required]"
                class="mb-2"
                label="LeaveOrNot"
                clearable
              ></v-text-field
            ></v-col>
          </row>
        </v-form>
        <v-btn
          :disabled="!form"
          color="success"
          size="50px"
          style="font-size: 25px; font-style: tahoma"
          type="submit"
          variant="elevated"
          block
          @click="ShowData"
          >ประมวลข้อมูล</v-btn
        >

        <v-dialog v-model="Dialog" max-width="1000px" max-height="1000px">
          <v-card>
            <v-img
              src="https://upload-os-bbs.hoyolab.com/upload/2023/02/05/132415658/548c4b3d7abf671b4bf338de4f8c0bc1_6253957035541607485.jpg?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_80"
              class="center-img"
              width="300"
              height="250"
            ></v-img>
            <br />
            <br />
            <div class="text-h2 bold-text text-center">Say Halo To My Little Friend</div>
            <br />
            <br />
            <v-btn class="btn-red" @click="Dialog = false">ปิด</v-btn>
          </v-card>
        </v-dialog>
      </v-card>
    </v-container>
  </div>
</template>

<style scoped>
.container-bg {
  background-color: #1b1b1b;
  color: white;
  height: 100vh; /* ความสูงของพื้นหลังเท่ากับความสูงของหน้าจอ */
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางในแนวดิ่ง */
  width: 100%;
}

.bold-text {
  font-weight: bold;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid #2e2e2e;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px; */
}

.v-card {
  padding: 30px;
  border: 2px solid #726ce6;
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
}
.btn-red {
  background-color: #d60000;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
</style>
